<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            SIBICA
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <iframe (click)="alerta()" src="http://aquila.alcaldia.gov.co/arcgis/apps/webappviewer/index.html?id=2a22d33bda2f422bb4b6a489c46010ab" style="width: 100%;height: 100%;"></iframe>
    <!-- <ion-button color="primary" (click)="abrirModal()">Modal Reporte</ion-button> -->
</ion-content>